<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenue à l'easytech</title>
  <link
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
  <link href="css/dash.css" rel="stylesheet" media="all">
</head>
<body>  
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/">TABLEAU DE BORD</a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="/logout">Se déconnecter</a>
            <% if(session.User.categorie != 'trans'){ %>
        </li>
        <li>
          <a class="nav-link" href="/demander_a_trans">Faire une demande</a>
            <% } %>
        </li>       
      </ul>
    </div>
  </nav>
         
<br/><br/>

  <h2 style="text-align:center">Tableau de bord</h2>

<br/><br/>
<table class="table-dark" style="display: center">
  <thead>
    <tr>
      <td>Matricule: <%= session.User.matricule %></td>
    </tr>
    <tr>
      <td>Catégorie: <%= session.User.categorie %></td>
    </tr>
  </thead>  
</table>

<br/><br/>
 <div class="contenu">
      <!-- NOUVELLE ENTREE -->
  <h4>Nouvelle tâche</h4>
    <table class="table table-hover" >
        <thead class="test">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Objet</th>
          <th scope="col">Priorité</th>
          <th scope="col">Tache</th>
          <th scope="col">Code</th>
          <th scope="col">Taille</th>
          <th scope="col">Chemin</th>
          <th scope="col">Expediteur</th>
          <th scope="col">Etat</th>
        </tr>
      </thead>
      <tbody>
          <%           
          for(var i=0; i<demande.length; i++) {
            if(demande[i].etat_demande == "nouvelle" || demande[i].etat_demande == ''){ %>
        <tr>
            <th scope="row"><%= (i+1) %></th>
            <td><%= demande[i].objet %></td>
            <td>
              <%= demande[i].priorite %>
            </td>
            <td>
              <%= demande[i].tache %>
            </td>
            <td>
              <%= demande[i].code %>
            </td>
            <td>
                <%= demande[i].size %>
              </td>
            <td>
              <%= demande[i].chemin %>
            </td>
            
            <td>
              <%= demande[i].categorie %>
            </td>
            <td>
              <% if(session.User.categorie == 'trans') { %>
              <a href="/valide_form_demande/<%= demande[i].id %>">Prendre</a>
              <% }
              else{ %>
                  En attente
                <% } %>
            </td>
        </form>
        </tr>
        <% 
            }
          } %>
      </tbody>
    </table>
    
   <!-- EN COURS -->
   <br/><br/>
   <h4>En-cours</h4>

   <table class="table table-hover">
      <thead class="test">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Objet</th>
        <th scope="col">Priorité</th>
        <th scope="col">Tache</th>
        <th scope="col">Taille du fichier</th>
        <th scope="col">Expediteur</th>
        <th scope="col">Etat</th>
      </tr>
    </thead>
    <tbody>
        <%           
        for(var i=0; i<demande.length; i++) {
          if(demande[i].etat_demande == "encours"){ %>
      <tr>
          <th scope="row"><%= (i+1) %></th>
          <td><%= demande[i].objet %></td>
          <td>
            <%= demande[i].priorite %>
          </td>
          <td>
            <%= demande[i].tache %>
          </td>
          <td>
            <%= demande[i].size %>
          </td>
          <td>
            <%= demande[i].categorie %>
          </td>
          <td>

            <a href="/form_demande/<%= demande[i].id %>">Prendre</a>
          </td>
      </form>
      </tr>
      <% 
          }
        } %>
    </tbody>
   </table>
   

   <!-- TERMINER -->
   <br/><br/>
  <h4>Terminer</h4>

    <table class="table table-hover">
      <thead class="test">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Objet</th>
          <th scope="col">Priorité</th>
          <th scope="col">Tache</th>
          <th scope="col">Taille du fichier</th>
          <th scope="col">Expediteur</th>
          <th scope="col">Etat</th>
        </tr>
      </thead>
      <tbody>
          <%           
          for(var i=0; i<demande.length; i++) {
            if(demande[i].etat_demande == "terminer"){ %>
        <tr>
            <th scope="row"><%= (i+1) %></th>
            <td><%= demande[i].objet %></td>
            <td>
              <%= demande[i].priorite %>
            </td>
            <td>
              <%= demande[i].tache %>
            </td>
            <td>
              <%= demande[i].size %>
            </td>
            <td>
              <%= demande[i].categorie %>
            </td>
            <td>
              <a href="/form_demande/<%= demande[i].id %>">Prendre</a>
            </td>
        </form>
        </tr>
        <% 
            }
          } %>
      </tbody>
    </table>
  </div>  
  
    
</body>
</html>